# Python virtual environment
venv/
env/

# Python package build files
*.egg-info/
dist/
build/

# Temporary files
temp/
*.pyc
__pycache__/

# IDE specific files
.vscode/
.idea/
*.swp
.DS_Store

# Model output directories
output_tf1/
output_tf2/
mnist_model*/
temp_benchmark/